/* fonts from google poppins medium 500*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* =========================*\

 Common Style  or utilities

 \*=========================*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding:0;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center ;
}  





/* =========================*\

 Banner Style

 \*=========================*/

 .container-banner{
    background-color: #2D25A0;
    width: 100%;
    height: ;

}
 .banner-class{
     display :grid;
     grid-template-columns: repeat(2,1fr);
     grid-column-gap: 102px;;
     padding-top : 143px;
     padding-bottom:80px;

 }
.banner-info{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 64px;
    margin-left: 156px;
}
.banner-info-paragraph{
    width :485px;
    height: 230px;
    
}
.banner-info-button-symbol{
    width: 168px; ;
    height: 44px; 
    display: flex;
    align-items: center;

    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    background-color: #E02C6D;
    border-radius: 2px;
}
.Watch-live-button{
    width: 88px;
    height: 24px;
    font-size: 16px;
    /* Padding : 10px 24px 10px 24px;  */
     padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    
    
}

.symbol-class{
    display: inline-block;
    
    font-size: 16px;
    margin-left: 8px;
}

.banner-image img{
     width: 556px;
     height: 438px;
     margin-right: 130px;
     /* margin-bottom: 86px; */
 }
 
 /* =========================*\

 Animation in top-section

 \*=========================*/

 .banner-class:hover .banner-image {
    transform: scale( 1.5) rotate(360deg);
    transition: transform .5s ease-in-out;
}



.banner-class:hover .banner-info-button-symbol {
    transform: scale( 1.5);
    transition: transform .5s ease-in-out;
}


/* =========================*\

  Player info style

 \*=========================*/

 .player-details-container{
    width: 870px;
    margin-right: 150px;
    margin-top:42px;
    border-radius: 5px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
    grid-column-gap: 27px;

}
.player{
    width: 300px;
    height: 454px;
    padding: 15px;
    border-radius: 5px;
    
            /* offset-x | offset-y | blur-radius | spread-radius / color */
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.05);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15); */

    
}
.player-picture img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-size: 28px;
}